/Debug/
/.vs/
/Database of File Manager/Debug/
/Database of File Manager/startup
/Database of File Manager/testcfg
/Database of File Manager/Database of File Manager.vcxproj
/Database of File Manager/Database of File Manager.vcxproj.filters
/Database of File Manager/Database of File Manager.vcxproj.user